@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/circular-std-book');

@tailwind base;
@tailwind components;
@tailwind utilities;

.circle::before {
	position: absolute;
	content: '';
	width: 144.97px;
	height: 92.42px;
	background-image: url('../public/images/circle.png');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	top: -0.7rem;
	left: -1.2rem;
	z-index: -2;
}

@screen 2xl {
	.circle::before {
		width: 144.97px;
		height: 92.42px;
	}
}

.circle-2::before {
	top: 0 !important;
	left: 0 !important;
}

.rounded img {
	border-radius: 10rem;
}

.center {
	@apply relative top-1/2 transform -translate-y-1/2;
}
